// 🎨 Variáveis de Tema
$primary: #d4a017;
$primary-20: #b38410;
$secondary: #ffffff;
$background: #ffffff;
$background-20: #e2e2e2;
$danger: #ff0000;
$warning: #f0c14b;
$warning-20: #e0b343;
$text: #ffffff;
$grey: #d1d1d6;
$grey-20: #aeaeb2;
$grey-40: #999999;
$grey-60: #333333;
$orange: #e74c3c;
$orange-20: #c0392b;
$blue: #007bff;
$blue-20: #0056b3;
$black: #000000;
$border: #ccc;
$shadow: rgba(0, 0, 0, 0.1);
$dark-bg: rgb(37, 29, 19);
$highlight: #b67e04;
$highlight-hover: #8a6d2f;
$light-blue: #2c81f1;
$grey-twitter: #585757;
$purple-instagram: #a54cc0;

:root {
  --primary: #{$primary};
  --primary-20: #{$primary-20};
  --secondary: #{$secondary};
  --background: #{$background};
  --background-20: #{$background-20};
  --danger: #{$danger};
  --warning: #{$warning};
  --warning-20: #{$warning-20};
  --text: #{$text};
  --grey: #{$grey};
  --grey-20: #{$grey-20};
  --grey-40: #{$grey-40};
  --grey-60: #{$grey-60};
  --orange: #{$orange};
  --orange-20: #{$orange-20};
  --blue: #{$blue};
  --blue-20: #{$blue-20};
  --black: #{$black};
  --border: #{$border};
  --shadow: #{$shadow};
  --dark-bg: #{$dark-bg};
  --highlight: #{$highlight};
  --highlight-hover: #{$highlight-hover};
  --light-blue: #{$light-blue};
  --grey-twitter: #{$grey-twitter};
  --purple-instagram: #{$purple-instagram};
}

body {
  margin: 0;
  overflow: auto;
}

main {
  background: {
    image: url(../img/wallpaper-cafeteria.jpg);
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
  height: 100vh;
  padding-top: 100px;
}

.main {
  background-color: var(--background);
  width: 95%;
  height: 95%;
  padding: 20px;
  border: 6px solid var(--grey-20);
  border-radius: 12px;

  h2 {
    font-size: 42px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--grey-40);
  }

  h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .border {
      border: 1px solid var(--grey-40);
    }

    div {
      flex-direction: column;

      h3 {
        font-size: 24px;
      }
    }
  }
}

.form-container {
  margin: auto;
  background-color: var(--background);
  padding: 30px;
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  text-align: center;

  h1 {
    margin: auto;
    padding: 0;
    font-size: 90px;
  }

  h3 {
    margin: auto;
    padding: 0;
    font-size: 40px;
    margin-bottom: 10px;
  }

  p {
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  //height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-20);
    }
  }
}

.link {
  text-decoration: none;
  color: var(--primary);
  transition: color 0.3s;

  &:hover {
    color: var(--highlight-hover);
  }
}

.btn {
  margin-top: 20px;
}

.btn-return-wrapper {
  margin-top: 2rem;
}

.page-error {
  padding-top: 80px;
}

.error-principal {
  background-color: var(--background);
  margin: 30px;
  padding: 5px 20px 18%;
  border-radius: 15px;
}

.error-code {
  font-size: 40px;
  border-bottom: 1px solid var(--black);

  h1 {
    margin-left: 40px;
  }
}

.error-message {
  font-size: 30px;

  h3 {
    margin-left: 40px;
  }
}

h1, h2, h3, h4, p, a {
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg);
  border-bottom: solid 3px var(--black);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  a {
    color: var(--text);
    margin-left: 10px;
    text-decoration: none;
  }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: var(--text);
    cursor: pointer;
}

.menu-mobile {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: var(--background);
    border-radius: 6px;
    box-shadow: 0 4px 10px var(--shadow);
    z-index: 1000;
    padding: 3px;
    list-style: none;

    li {
        a {
            display: block;
            text-decoration: none;
            color: var(--black);
            margin: 0;
            font-size: 21px;
            padding: 3px 6px;
            border-radius: 6px;
            &:hover {
                transition: 0.03s;
                color: var(--text);              
                background-color: var(--primary-20);
            }
        }
    }

    &.show {
        display: block;
    }
}

.menu-desktop {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

  li {
    margin-right: 20px;
    font-size: 20px;
  }

  a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--highlight-hover);
    }
  }
}

.icon {
  font-size: 35px;
}

.site-name {
  font-size: 30px;
}

footer {
  background-color: var(--dark-bg);
  color: var(--text);
  padding: 10px 20px;
  border-top: solid 3px var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-main {
  display: flex;
  justify-content: space-evenly;

  .footer-row {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  .footer-column {
    padding: 10px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: var(--highlight);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 8px;

        a {
          color: var(--text);
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: var(--highlight-hover);
          }
        }
      }
    }
  }
}

.copy-right {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  border-top: 1px solid var(--secondary);
}

.facebook a:hover {
  color: var(--light-blue);
}

.twitter a:hover {
  color: var(--grey-twitter);
}

.instagram a:hover {
  color: var(--purple-instagram);
}

.user-card {
    padding: 100px 30px;
}

.card {
    width: 900px;
    height: 500px;
    border: 1px solid var(--grey-20);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background: var(--background);
}

.card-header {
    padding: 10px;
    margin: 5px 25px;
    text-align: center;
    border-bottom: 1px solid var(--black);
}

.card-header h2 {
    font-size: 70px;
}

.card-body {
    padding: 15px;
}

.card-body p {
    font-size: 50px;
    margin: 5px 0;
}

.card-body h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 120px;
}

.item-table-container {
    /* display: flex; */
    /* justify-content: center; */
    background-color: var(--background);
    padding: 20px;
    margin: 70px auto 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--shadow);
    max-width: 90%;
    width: 1000px;
}

.table-scroll {
    max-height: 420px;
    overflow-y: auto;
}

.table-scroll table {
    width: 100%;
    border-collapse: collapse;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background);
    color: var(--grey-60);
}

.item-table th,
.item-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--border);
}

.item-table th {
    background-color: var(--background-20);
    font-weight: bold;
}

.item-table td {
    vertical-align: middle;
}

.item-table tr:hover {
    background-color: var(--background-20);
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.add-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.add-btn {
    background-color: var(--blue);
    color: var(--text);
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.add-btn:hover {
    background-color: var(--blue-20);
}

.edit-btn,
.delete-btn {
    padding: 8px 12px;
    margin-right: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.edit-btn {
    background-color: var(--warning);
    color: var(--grey-60);
}

.edit-btn:hover {
    background-color: var(--warning-20);
}

.delete-btn {
    background-color: var(--orange);
    color: var(--text);
}

.delete-btn:hover {
    background-color: var(--orange-20);
}

.item-list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 20px;
    box-sizing: border-box;
}

.item-scroll {
    max-width: 390vh;
    overflow-y: auto;
    background-color: var(--grey-20);
    border: 3px solid var(--grey-20);
    border-radius: 9px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 9px;
}

.card-item {
    background-color: var(--background);
    border-radius: 9px;
    box-shadow: 0 4px 10px var(--shadow);
    display: flex;
    width: 16rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 21rem;
}

.card-item:hover {
    transform: scale(1.05);
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.item-img {
    width: 20vh;
    height: 20vh;
    background-color: var(--background-20);
    padding: 10px;
    border-radius: 30%;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.item-details {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.item-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    text-align: center;
    /* padding: 100%;
    border: 1px solid rgb(194, 194, 194); */
}

.item-price, .item-quantity {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid rgb(194, 194, 194); */
}

.item-price span, .item-quantity span {
    font-weight: normal;
}

@media (min-width: 320px) and (max-width: 425px) {
    .site-name {
      font-size: 16px;
    }

    main {
      padding-top: 65px;
    }

    .main {
      width: 100%;
      height: 100%;
      border-radius: 0;

      h2 {
        font-size: 26px;
      }

      h3 {
        font-size: 24px;
      }

      div {
        h3 {
          font-size: 18px;
        }
      }
    }

    .form-container {
      width: 100%;
      border-radius: 0;
      margin: 0;

      .form {
        height: auto;
      }

      .form-text {
        p {
          margin-top: 5%;
        }
      }
    }

    .menu-desktop {
        display: none;
    }

    .menu-toggle {
        display: inline-block;
    }

    footer {
        padding: 5px 10px;

        .footer-main {
            display: block;

            .footer-column {
              width: 100%;
              margin-bottom: 10px;
              display: block;
            }

            .footer-row {
              display: flex;
              justify-content: space-between;
              width: 100%;

              .footer-column {
                margin-bottom: 0;
              }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {
  .site-name {
    font-size: 20px;
  }

  main {
    padding-top: 64px;
  }

  .index {
    padding-top: 95px;
  }

  .form {
    width: 60%;
    margin: auto;
  }

  .form-container {
    margin: 0;
    border-radius: 0;
    max-width: none;
  }

  .menu-desktop {
    li {
      font-size: 18px;
    }
  }

  footer {
        padding: 5px 10px;

        .footer-main {
            display: block;

            .footer-column {
              width: 100%;
              margin-bottom: 10px;
              display: block;
            }

            .footer-row {
              display: flex;
              justify-content: space-between;
              width: 100%;

              .footer-column {
                margin-bottom: 0;
              }
            }
        }
    }
}